* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: radial-gradient(
    circle at 50% -20.71%,
    #7dc713 0,
    #57bd0c 25%,
    #0aaf00 50%,
    #00a100 75%,
    #00960d 100%
  );
  background-repeat: no-repeat;

  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  color: white;

  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  gap: 1rem;

  margin: 1rem 0 0.1rem;
}

header img {
  width: 15rem;
}

header h1 {
  font-size: 2rem;
}

header p {
  font-size: 1rem;
}

form {
  display: flex;
  flex-direction: column;

  padding: 1rem;
}

form label {
  font-size: 1rem;
  font-weight: 700;
  margin: 0.5rem 0 0.5rem;
}

form input {
  background: #fafafc;

  border: 1px solid #e6e6f0;
  border-radius: 8px;

  height: 3rem;
  padding: 0.5rem;
}

form select {
  background: #fafafc;

  border: 1px solid #e6e6f0;
  border-radius: 8px;

  height: 3rem;
  padding: 0.5rem;
}

form button {
  margin-top: 1rem;
  background: #ff9900;

  border: 1px solid #ff5100;
  border-radius: 8px;

  font-size: 1.5rem;
  color: white;
  height: 3rem;
}

.whatsapp {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 0.8rem;
  gap: 0.5rem;
  padding: 0.5rem 0.5rem;

  background-color: white;
  margin: 0 1rem 1rem;
}

.whatsapp a {
  text-decoration: none;
  color: #00960d;
  font-weight: 700;
}

.whatsapp img {
  width: 1.5rem;
}
